# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Test 

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
       matrix:
         exist-version: [latest, release, 5.3.0]
    services:
      # Label used to access the service container
      exist:
        image: existdb/existdb:${{ matrix.exist-version }}
        ports:
          - 8443:8443
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14
        uses: actions/setup-node@v1
        with:
          node-version: 14
      - run: npm ci
      - name: run tests
        env: 
          tuttle_token_tuttle_sample_data: ${{ tuttle_token_tuttle_sample_data }}
        run: npm test

