# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Test 

on: 
  push:
  pull_request:
  schedule:
    # weekly runs mondays at 08:40 
    - cron: "40 8 * * 1"
    

jobs:
  build:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        exist-version: [release, 5.5.1]
        experimental: [false]
        include:
          - exist-version: latest
            experimental: true
            
    services:
      # Label used to access the service container
      exist:
        env:
          tuttle_token_tuttle_sample_data: ${{ secrets.TUTTLE_TEST_TOKEN }}
          tuttle_token_tuttle_sample_gitlab: ${{ secrets.GITLAB_READ_TOKEN }}
        image: existdb/existdb:${{ matrix.exist-version }}
        ports:
          - 8443:8443
        volumes:
          # point autodeploy to a folder without any XARs
          - ${{ github.workspace }}/doc:/exist/autodeploy
        options: >-
          --health-interval 4s  
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: npm ci
      - name: run tests
        run: npm test

